#passwordContainer
{
  min-width: 900px;
  margin: auto;
  padding: auto;
  max-width: 1200px;
  transition: 0.3s;
  color: #17d53a;
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
}

fieldset
{
  margin: auto;
  padding: auto;
  background-color: black;
  border-radius: 10px;
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  font-style: 'Righteous', sans-serif;
}

legend
{
 text-align: center;
 font-size: 40px;
}

#section1
{
  display: block;
  margin: auto;
  width: inherit;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
}

#section2
{
  display: block;
  margin: auto;
  width: inherit;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
}

#section3
{
  display: block;
  margin: auto;
  width: inherit;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
}

#blurb
{
  text-align: center;
}

#passwordContainer #formImage
{
  display: block;
  margin: auto;
}

#passwordContainer #formUsername
{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

#passwordContainer #newPassBoxlbl
{
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
}

#passwordContainer #newPassBox
{
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color:black;
  color: #17d53a;
  font-family: 'Righteous', sans-serif;
  transition: 0.3s;
  font-size: 30px;
  text-align: center;
}

#passwordContainer #newRePassBoxlbl
{
  display: block;
  margin: auto;
  font-size: 40px;
  text-align: center;
}

#passwordContainer #newRePassBox
{
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color:black;
  color: #17d53a;
  font-family: 'Righteous', sans-serif;
  transition: 0.3s;
  font-size: 30px;
  text-align: center;
}

#buttonArea
{
  display: block;
  text-align: center;
}

#passwordContainer #newPasswordSubmit
{
  display: block;
  border-radius: 5px;
  background-color: black;
  font-family: 'Righteous', sans-serif;
  color: #17d53a;
  margin: auto;
  font-size: 30px;
}
